<footer>
    <p>If you are interested on contact me please do so by <a href="mailto:wbarahona@live.com">mail</a> and I will reply as soon as posible.</p>
    <map>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d123018.98093859553!2d-88.05553064877057!3d15.519724262737892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f66430b113d5af1%3A0x323ecf76c17e8f6b!2sSan+Pedro+Sula!5e0!3m2!1sen!2shn!4v1454430709093" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </map>
    <ul class="footer-icons">
        <li><a href="{{site.socialurl.facebook}}"><i class="fa fa-facebook-square"></i></a></li>
        <li><a href="{{site.socialurl.twitter}}"><i class="fa fa-twitter"></i></a></li>
        <li><a href="{{site.socialurl.codepen}}"><i class="fa fa-codepen"></i></a></li>
        <li><a href="{{site.socialurl.github}}"><i class="fa fa-github"></i></a></li>
    </ul>
</footer>
