<header>
    <div class="ib prof-pic">
        <img src="/assets/img/profpic.jpg" alt="" />
        <div class="triangle"></div>
    </div>
    <div class="ib intro">
        <h2>Resum&eacute;</h2>
        <h1>Willmer Barahona</h1>
        <h3>Human | Web Developer | Android Fan | Sith Student</h3>
        <p>Computer Science degree at Universidad Cat&oacute;lica de Honduras, 4 years of professional experience looking for showing his passion in everything he can do, combining perfectly these two areas.</p>
    </div>
</header>
