<nav>
    <ul class="nav-bar">
        {{#each site.menu}}
            <li><a href="{{this.url}}" title="{{this.title}}"><i class="fa fa-{{this.icon}}"></i></a></li>
        {{/each}}
    </ul>
</nav>
